/* #Generealization */
body{
    font-family: 'Exo', sans-serif;
    margin: 0;
    overflow-x: hidden;
}
.font-weight-light{
    font-weight: 300;
}
.font-weight-regular{
    font-weight: 400;
}
.font-weight-medium{
    font-weight: 500;
}
.font-size-80{
    font-size: 80px;
}
.font-size-40{
    font-size: 40px;
}
.font-size-30{
    font-size: 30px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-22{
    font-size: 22px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-15{
    font-size: 15px;
}
.font-size-16{
    font-size: 16px;
}
.header-margin{
    margin: 0 0 0 95px;
}
.header-height{
    height: 100px;
}
.font-color-black{
    color: #000000;
}
.font-color-white{
    color: #ffffff;
}
.font-color-green{
    color:#72bf44;
}
.bg-color-black{
    background-color: #000000;
}
.bg-color-green{
    background-color: #72bf44;
}
.bg-color-white{
    background-color: #ffffff;
}
.bg-color-green-header{
     background: linear-gradient(to right, #72bf44 50.1%, white 49.9%);
 }
p{
    color: #000000;
}
h1,h2,h4,h5,h6{
    color: #000000;
}
h3{
    color: #ffffff;
}
.btn-border{
    border: 2px solid #72bf44;
    border-radius: 5px;
    display: inline-block;
}
.btn-padding-lm{
    padding: 6px 31px;
}
.btn-padding-vg{
    padding: 10px 35px;
}
.margin-top-vg{
    margin-top: 30px;
}
.margin-pg{
    margin-top: 27px;
}
.margin-top-content{
    margin-top: 43px;
}
.btn-send{
    padding: 11px 46px;
}
.margin-92{
    margin-bottom: 92px;
}
.text-indent{
    text-indent: 50px;
}
#button a:hover {
    color: #ffffff;
    text-decoration: none;
}
#click a:hover {
    color: #ffffff;
    text-decoration: none;
}
#icon-box a:hover{
    color: #72bf44;
}
.justify{
    text-align: justify;
}
.center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
#nav-menu li+li{
    padding-left: 25px;
}
.index{
    z-index: -1;
}
/* Header Style Starts*/
.header-padding{
    padding-top: 43px;
    padding-bottom: 31px;
}
.icon{
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: #ffffff;
    color: #72bf44;
    border-radius: 50%;
    font-size: 18px;
    text-decoration: none;
}
/* navigation bar */
.navbar-light .navbar-nav .nav-link {
    color: #000000;
} 
.navbar-light .navbar-nav .nav-link.active{
    color: #72bf44;
}
.header-left {
    background-color: #72bf44;
    border-bottom-left-radius: 100%;
    height: 400px;
    width: 54%;
    margin-left: -4%;
    position: relative;
    top: 0;
    z-index: 2;
}
/* image border */
.round-border-white {
    border: 12px solid white;
    border-radius: 50%;
}
.logo-padding {
    padding-top: 40px;
}
.header-right {
    width: 65%;
    margin-right: -10%;
    position: absolute;
    top: 106px;
    right: 0;
}
.carousel-inner {
    z-index: -1;
}
.header-right img {
    border-bottom-right-radius: 100%;
}
/* Header Style Ends */
/* carousel */
.carousel-control-button {
    background-color: #72bf44;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.carousel-control-next .carousel-control-button {
    top: 50%;
    left: -100%;
    position: relative;
}
.carousel-control-prev {
    left: 59%;
    top: 100%;
}
/* Content Start */
/* Main */
.main-margin-top{
    margin-top: 130px;
}
.padding-80{
    padding-top: 80px;
}
.white-circle {
    height: 200px;
    max-width: 200px;
    background-color: #ffffff;
    border-radius: 50%;
}
.position-circle-white {
    position: relative;   
    top: -100px;
}
.green-circle{
    height: 150px;
    width: 150px;
    background-color: #72bf44;
    border-radius: 50%;
}
.position-circle-green{
    position: absolute;
    top: 25px;
    left: 25px;
}
.small-white-circle{
    height: 146px;
    width: 146px;
    background-color: #ffffff;
    border-radius: 50%;
}
.position-small-white-circle{
    position: absolute;
    top: -4px;
    left: 2px;
}
.upper-circle{
    background-color: white;
    border-radius: 0 0 68% 68%;
    position: absolute;
    height: 413px;
    width: 100%;
}
.bottom-circle{
    background-color: white;
    border-radius: 68% 68% 0 0;
    position: absolute;
    height: 327px;
    width: 100%;
    margin-top: -100px;
}
.link-center{
    padding-top: 54px;
}
#color-link a:hover{
    color: #72bf44;
    text-decoration: none;
}
.text-align-end{
    text-align:end;
}
.background-image{
    background-image: url(../images/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image{
    position: absolute;
}
.main-quote{
    padding-bottom: 50px;
    align-items: flex-end;
    display: flex;
}
.image-border{
    border-radius: 5%;
}
/* Contact me */
.margin-30{
    margin-top: 30px;
}
.margin-17{
    margin-top: 17px;
}
.margin-62{
    margin-top: 62px;
}
.margin-34{
    margin-bottom: 34px;
}
#icon .icon{
    background-color: #000000;
    color: #ffffff;
}
/* About */
.main-heading-margin-42{
    margin-top: 42px;
}
.heading-padding-38-35{
    padding: 38px 0 35px 0;
}
/* projects */
/* portfolio */
.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #72bf44;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-link {
    color: #000000;
}
.nav-tabs .nav-item {
    margin-bottom: 0;
}
#myTab a:hover {
    color: #72bf44;
}
.portfolio-bottom-border{
    border-bottom: 2px solid #d3d3d3;
}
.painting{
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 0 43px 0 43px;
}
/* image-hover */
/* cards */
.card{
    text-align: center;
    color: white;
    border: none;
}
.card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    background-color: #368b0d;
}
.card-overlay:hover {
    opacity: 0.8;
}
/* Content End */


/* Footer Style Starts */
.footer{
    position: relative;
}
.footer-left {
    background-color: #72bf44;
    border-top-left-radius: 100%;
    height: 336px;
    width: 54%;
    margin-left: -4%;
    position: absolute;
    top: 76px;
    z-index: 2;
}
.footer-left-icon{
    position: absolute;
    top: 108px;
}
.footer-right {
    background-color: #000000;
    border-top-right-radius: 100%;
    height: 412px;
    width: 65%;
    margin-right: -10%;
    position: absolute;
    right: 0;
    z-index: -1;
}
.footer-right-icon{
    position: absolute;
    top: 30%;
    left: 20%;
}
.footer-right-icon a{
    color: #ffffff;
}

/* Footer Style Ends */
/* media Query */
@media only screen and (max-width: 1125px){
    .font-size-13{
        font-size: 13px;
    }
    .font-size-30{
        font-size: 30px;
    }
    #nav-menu li+li{
        padding-left: 0;
    }
    .margin-top-content {
        margin-top: 0;
    }
}
@media only screen and (min-width: 992px){
    /* scroll-top */
#scroll-button {
    display: inline-block;
    background-color: #3b3b3b;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    margin: 30px;
    position: relative;
    top: 300px;
    left: 600px;
  }
#scroll-button:hover {
    cursor: pointer;
    background-color: #333;
  }
.margin-scroll{
    margin: 15px auto;
    }
}
@media only screen and (max-width: 992px){
    .carousel-control-next .carousel-control-button {
        top: 0;
        left: 0;
        position: relative;
    }
    .carousel-control-prev {
        left: 0;
        top: 0;
    }
    .background-image{
        background-image: none;
        background-color: #72bf44;
    }
    .font-size-15{
        font-size: 15px;
    }
    .bg-color-green-header {
        background: linear-gradient(to right, #72bf44 100%, white 0%);
    }
    
    .bottom-circle{
        margin-top: 0;
    }
    .header-right img {
        display: block;
        border-bottom-right-radius: 0;
    }
    .header-right {
        width: 100%;
        margin-right: 0;
        position: relative;
        top: 0;
    }
    .header-left {
        border-bottom-left-radius: 0%;
        width: 100%;
        height: 500px;
        margin-left: 0%;
    }
    .footer-right {
        border-top-right-radius: 0%;
        width: 100%;
        margin-right: 0;
        position: relative;
        top: 0;
    }
    .footer-left {
        border-top-left-radius: 0%;
        width: 100%;
        height: 500px;
        margin-left: 0%;
        position: relative;
    }
    .footer-right-icon {
        position: absolute;
        top: 30%;
        left: 36%;
    }
    .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
        background-color: grey;
        opacity: 0.5;
        z-index: 9999;
        left: 0;
    }
    .menu {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        background-color: aliceblue;
        overflow: hidden;
        padding: 100px 0 0 20px;
       
    }
    .center-text{
        text-align: center;
    }
    .btn-center{
        display: flex;
        margin: auto;
    }
}
@media only screen and (max-width: 750px) and (min-width:490px){
    .portfolio-content-padding{
        padding: 40px 60px 40px 60px;
    }
}
@media only screen and (max-width: 380) and (min-width:300px){
    .painting .font-size-25{
        font-size: 18px;
    }
    .painting .font-size-15 {
        font-size: 12px;
    }
}
@media only screen and (max-width: 768px){
    .painting{
        border: none;
    }
}
@media only screen and (max-width: 555px){
    .background-image{
        background-image: none;
        background-color: #ffffff;
    }
}
